.profile__button-edit {
  cursor: pointer;
  border: 1px white solid;
  width: 24px;
  height: 24px;
  display: flex;
  margin-left: 18px;
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  box-sizing: border-box;
  background-size: 10px 10px;
  background: url(../../../images/vector_pen.svg) no-repeat center;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 890px) {
  .profile__button-edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}