.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  -webkit-transition:  visibility 0.7s, opacity 0.7s;
  -moz-transition:  visibility 0.7s, opacity 0.7s;
  -o-transition:  visibility 0.7s, opacity 0.7s;
  transition: visibility 0.7s, opacity 0.7s;
}