.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0.7s ease-out;
  -moz-transition: visibility 0.7s ease-out;
  -o-transition: visibility 0.7 ease-out;
  transition: visibility 0.7s ease-out;
}