.cards__button-like {
  border: none;
  width: 21px;
  height: 19px;
  padding-left: 26px;
  align-self: center;
  cursor: pointer;
  background: url(../../../images/like_vector.svg) no-repeat center;
}

.cards__button-like:hover {
  opacity: 0.5;
}

/* note */
/* Im not so sure i understood your comment here 
i will check with the tutors and i will make
the proper change in the next iteration */