.button__like {
  border: none;
  width: 21px;
  height: 19px;
  padding-left: 26px;
  align-self: center;
  cursor: pointer;
  background: url(../../../images/like_vector.svg) no-repeat center;
}

.button__like:hover {
  opacity: 0.5;
}