.profile {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding-top: 36px;
  max-width: 880px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Do not change*/


@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    margin: 0;
    padding-top: 0;
  }
}

