.profile__role {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*  recheck padding between name role and container  */

@media screen and (max-width: 320px) {
  .profile__role {
    margin: 0 auto;
  }
}