.button_type_delete {
  background: url(../../../images/delete.svg) no-repeat center;
  position: absolute;
  width: 18px;
  height: 19px;
  top: 18px;
  right: 15px;
  cursor: default;
  transition: opacity 0.4s;
  padding: 0;
  border: 0;
  /*border: solid 1px red; <---- This not applied*/
}

.button_type_delete:hover {
  opacity: 0.6;
  cursor: pointer;
}