.button_type_preview-card {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  background-size: contain;
  top: -10%;
  right: -8%;
  background: url(../../../images/close-icon.svg);
  border: none;
  background-repeat: no-repeat;
}

.button_type_preview-card:hover {
  opacity: 0.5;
}

@media screen and (max-width: 680px) {
  .button_type_preview-card {
    width: 30px;
    height: 30px;
    top: -10%;
    right: -8%;
  }
}