.modal__button-add {
  display: flex;
  align-content: center;
  border-radius: 2px;
  box-sizing: border-box;
  transition: opacity 0.4s;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: transparent;
  background-image: url(../../../images/plus_vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal__button-add:hover {
  opacity: 60%;
}

@media screen and (max-width: 720px) {
  .modal__button-add{
    width: 282px;
  }


@media screen and (max-width: 320px) {
  .modal__button-add {
    margin-left: 19px;
    margin-right: 19px;
    width: 282px;
  }
}