.profile__name {
  color: #ffff;
  font-size: 42px;

  margin-right: 207px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


@media screen and (max-width: 320px) {
  .profile__name {
    font-size: 22px;
    max-width:  196px;
  }
}