.profile__name{
  display: flex;
}

/* max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 42px;
  margin-bottom: 0;
  .profile__name {
align-items: center;
justify-content: center;
  }