.root {
  margin: 0 auto;
  background-color: #000000;
  color: #ffff;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Inter", "Arial" , sans-serif;
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
} 
