.popup__window {
  /*display: flex; /* display: none; */
  flex-direction: column;
  justify-content: center;
  background-color: #ffff;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 430px;
}

@media screen and (max-width: 890px) {
  .popup__window {
    max-width: 282px;
  }
}