.popup__button-close {
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  background-size: 100%;
  top: -10%;
  right: -8%;
  background: url(../../../images/close-icon.svg);
  border: none;
  background-repeat: no-repeat;
}

.popup__button-close:hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
  .popup__button-close {
    top: -41px;
    right: -5px;
    width: 26px;
    height: 26px;
  }
}