.button__edit {
  align-self: center;
  border: 1px white solid;
  width: 24px;
  height: 24px;
  background-size: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  background: url(../../../images/vector_pen.svg) no-repeat center;
}

.button__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .button__edit {
    width: 18px;
    height: 18px;
  }
}
