.profile__info {
  max-width: 415px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 22px 0 21px 30px;
}

@media screen and (max-width: 880px) {
  .profile__info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}