.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 22px 0 21px 30px;
}

@media screen and (max-width: 620px) {
  .profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}