.profile__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 620px) {
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}
 
