.footer {
  max-width: 880px;
  margin: 68px auto 0;
  padding-bottom: 60px;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin: 50px 19px 0 19px;
    padding-bottom: 36px;
  }
}
